
@{
    ViewBag.Title = "Fail";
    ViewBag.ImageStepCount = "5.png";
}

<div class="content-div page3">
    <div class="row">
        <div class="col-md-12">
            <h5 id="card-header" style="color:red;">Failed</h5>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 30px;">
            <img src="~/Assets/img/failed.png" style="padding: 30px;width: 208px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h5 id="price-text">Failed something went wrong.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Try Again", "Fail", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 60px;width: 200px;padding: 15px 0; " })
        </div>
    </div>
</div>