
@{
    ViewBag.Title = "Fail";
    ViewBag.ImageStepCount = "5.png";
}

<div id="card" style="height: 540px;width: 540px;">
    <h5 id="card-header" style="color: rgb(255,15,0);">Failed</h5>
    <hr>
    <div class="text-box">
        <img src="~/Content/img/failed.png" style="padding: 30px;width: 208px;">
        <h5 id="price-text">Failed something went wrong.</h5>
    </div>
    <div id="main-buton">
        <button class="btn btn-primary" id="button-main" type="button" style="width: 200px;height: 60px;">Try Again</button>
    </div>
</div>

