
@{
    ViewBag.Title = "Search Transaction";
}

<div class="content-div page5 search-transaction-pg">
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
            <h5 id="card-header">Enter Transaction Id</h5>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
            <input type="text" class="form-control my-form-control" placeholder="EnterTransaction Id" value="87954820" style="width: 80%; margin: 0 auto; height: 50px;" />
        </div>
    </div>        
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 confirm-div" style="margin-top: 20px;">
            <table style="margin: 0 auto;">
                <tr style=" border-bottom: 1px solid #ccc;">
                    <td style="width: 200px;padding-bottom:10px;">Status</td>
                    <td class="td-right-align"><span class="text-warning">In Process</span></td>
                </tr>
                <tr>
                    <td style="width: 200px;padding-top:20px;">Your Order</td>
                    <td class="td-right-align" style="padding-top: 20px;">1.5 ETH</td>
                </tr>
                <tr>
                    <td>Your wallet</td>
                    <td class="td-right-align">gehjsj78938</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td class="td-right-align">20,200 INR</td>
                </tr>
                <tr>
                    <td>Total Amount Payable</td>
                    <td class="td-right-align">31,500 INR</td>
                </tr>
            </table>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 45px;">
            <p id="input-info">Please confirm the above details.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
            @Html.ActionLink("BACK TO HOME", "StepOne", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 50px;width: 200px;padding: 15px 0; " })
        </div>
    </div>
</div>