@{
    ViewBag.Title = "5";
    ViewBag.ImageStepCount = "5.png";
}

<div class="content-div">
    <div class="row">
        <div class="col-md-12">
            <h5 id="card-header">Pay With UPI</h5>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 60px;">
            <input type="text" class="form-control" placeholder="Enter Your UPI Address" style="width: 80%; margin: 0 auto; height: 50px;" />
            <p id="input-info">You will receive a collect request</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">
            <h5 id="price-text">Amount =&nbsp;₹ 33,060</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 80px;">
            @Html.ActionLink("Fail", "Fail", "BuyEthereum", null, new { @class = "btn btn-info", style = "width: 200px;padding: 15px 0;" })
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Success", "Success", "BuyEthereum", null, new { @class = "btn btn-primary", style = "width: 200px;padding: 15px 0;" })
        </div>
    </div>
</div>