@{
    ViewBag.Title = "2";
    ViewBag.ImageStepCount = "2.png";
}

<div class="content-div">
    @using (@Html.BeginForm("StepTwoProcess", "BuyEthereum", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h5 id="card-header">Enter Your Ethereum Wallet Address</h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
                <input type="text" name="wallet_address" class="form-control my-form-control" placeholder="Enter your Ethereum wallet address" />
                <p id="input-info">Minimum purchase of 0.55 and maximum 1.55 ETH</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 60px; width: 200px; padding: 15px 0;">NEXT</button>
                @*@Html.ActionLink("NEXT", "StepThree", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 140px;width: 200px;padding: 15px 0; " })*@
            </div>
        </div>
    }
</div>