@{
    ViewBag.Title = "1";
    ViewBag.ImageStepCount = "1.png";
}

<div class="content-div">
    <div class="row">
        <div class="col-md-12">
            <h5 id="card-header">Enter Ethereum Quantity To Buy</h5>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 60px;">
            <input type="text" class="form-control my-form-control" placeholder="Enter Ethereum Quantity" />
            <p id="input-info">Minimum purchase of 0.55 and maximum 1.55 ETH</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 55px;">
            <h5 id="price-text">1 Ethereum &nbsp;&nbsp;&nbsp;&nbsp; =&nbsp;&nbsp;&nbsp;₹ 20,000</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("NEXT", "StepTwo", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 60px;width: 200px;padding: 15px 0; " })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Search Transaction", "SearchTransaction", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 10px;width: 540px;padding: 18px 0; " })
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Support", "Support", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 20px;margin-bottom:80px;width: 540px;padding: 18px 0; " })
    </div>
</div>
