@model InstaEthereum.ViewModels.PageStartViewModel

@{
    ViewBag.Title = "Buy";
    ViewBag.ImageStepCount = "1.png";
    ViewBag.OneEthPrice = InstaEthereum.Models.Helper.parseValueIntoCurrency(Model.EthPrice);
}

<div class="content-div">
    @using (@Html.BeginForm("StepStartProcess", "BuyEthereum", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h5 id="card-header">Enter Your Email Address</h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control my-form-control", placeholder = "Enter Your Email Address" })
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 60px; width: 200px; padding: 15px 0;">CONTINUE</button>
            </div>
        </div>
    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}