
@{
    ViewBag.Title = "Success";
    ViewBag.ImageStepCount = "5.png";
}

<div id="card" style="height: 713px;width: 540px;">
    <h5 id="card-header" style="color: #00c569;">Success</h5>
    <hr>
    <div class="text-box">
        <img src="~/Content/img/success.png" style="padding: 30px;width: 208px;">
        <h3 style="color: rgb(0,197,105);">Congratulations</h3>
        <p style="line-height: 1.6;padding: 10px;">Your transaction was successful. We will transfer Ethereum to your wallet soon. Transaction hash will be mailed to you.</p>
        <h5 id="price-text">Your Transaction ID : 112545</h5>
    </div>
    <div id="main-buton">
        <button class="btn btn-primary" id="button-main" type="button" style="width: 200px;height: 60px;">Thank You</button>
    </div>
</div>