
@{
    ViewBag.Title = "Support";
}

<div id="card" style="height: 540px;width: 540px;">
    <h5 id="card-header">WhatsApp Support</h5>
    <hr>    
    <div class="text-box">        
        <p>Please send your query on</p>
        <h4>+91 8795 482450</h4>
    </div>
    <div id="main-buton" style="width:100%; text-align: center;">
        @Html.ActionLink("Back to Home", "StepOne", "BuyEthereum", null, new { @class = "btn btn-primary", style = "width: 200px;height: 60px;padding-top: 16px;" })
    </div>
</div>