
@{
    ViewBag.Title = "Support";
}

<div class="content-div">
    <div class="row">
        <div class="col-md-12">
            <h5 id="card-header">WhatsApp Support</h5>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 60px;">
            <p class="text-center">Please send your query on</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>+91 8795 482450</h4>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Back to Home", "StepOne", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 150px;width: 200px;padding: 15px 0; " })
        </div>
    </div>
</div>