@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("_TopHeader")


<div class="main-content">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">2,530.55 ETH</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Ethereum Sold</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">2,53,560 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Profit</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">215</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Ethereum in Stock</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Final Transaction</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">253</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Pending</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">5,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Complete</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">553</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Incomplete</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,36 ETH</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Sold</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">2,53,650 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Purchase Price</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">3,56,700 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Sold Price</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">1,03,050 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Profit</h5>
                </div>
            </div>
        </div>
    </div>
</div>