@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("_TopHeader")


<div class="main-content">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,365</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
    </div>
</div>