body {
    background-color: #E9E9E9;
    font-family: Poppins, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100%;
}

#main-header {
  color: #ffffff;
  text-align: center;
  font-weight:400;
  font-size:18px;
}

#header {
  background-color: #0085B7;
  /*padding-top: 11px;
  padding-bottom: 4px;*/
}

#card {
  margin: auto;
  background-color: #ffffff;
  margin-top: 32px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #dddddd;
}

@media (max-width: 550px) {
  #card {
    width: 330px !important;
    margin: auto;
    background-color: #ffffff;
    margin-top: 32px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #dddddd;
  }
}

#card-header {
    padding-top:10px;
  text-align: center;  
  font-weight:400;
  font-size:18px;
}

.enter-text {
  width: 450px;
  margin: auto;
}

@media (max-width: 550px) {
  .enter-text {
    width: 300px;
    margin: auto;
  }
}

.input {
  width: 450px;
  margin: auto;
  margin-top: 40px;
}

@media (max-width: 550px) {
  .input {
    width: 300px;
    margin: auto;
    margin-top: 40px;
  }
}

#input-info {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 0;
    color: brown;
}

#price-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 5px 0;
}

.text-box {
  margin-top: 177px;
  width: 380px;
  text-align: center;
  margin: auto;
}

@media (max-width: 550px) {
  .text-box {
    margin-top: 177px;
    width: 331px;
    text-align: center;
    margin: auto;
  }
}

#main-buton {
  width: 200px;
  margin: auto;
  /*text-align: center;*/
  align-self: center;
  margin-top: 150px;
}

#button-main {
  width: 200px;
  height: 60px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0085b7 !important;
  border-color: #0085b7 !important;
}

.btn-primary {
  color: #fff;
  background-color: #0085b7;
  border-color: #0085b7;
}

#heading {
    text-align: center;
    margin: 30px 0;
    font-weight: 400;
    font-size: 18px;
}

#img {
  margin-top: 10px;
  width: 540px;
  margin: auto;
}

@media (max-width: 550px) {
  #img {
    /*margin-top: 10px;*/
    width: 330px;
    margin: auto;
  }
}

#footer {
    background-color: #0085B7;
    padding-top: 11px;
    padding-bottom: 4px;    
    position: fixed;
    left: 0;
    bottom: 0;
}

#main-footer {
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

#card-1 {
  margin: auto;
  background-color: #0085b7;
  margin-top: 32px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #dddddd;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 2px;
  color: #fff;
}

.bottom-button {
  width: 540px;
  margin: auto;
  background-color: #0085b7;
  margin-top: 32px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #dddddd;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 2px;
  color: #fff;
}

@media (max-width: 550px) {
  .bottom-button {
    width: 330px;
    margin: auto;
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  #img-1 {
    width: 320px !important;    
    margin-bottom: 10px;
  }
}

#img-1 {
    width: 540px;    
    margin-bottom: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #03729c;
  border-color: #03729c;
}

#price-text span {
  text-align: right;
}

.span-1 {
  float: left;
}

.span-2 {
  float: right;
}


/*Added Vijay Babar*/
.content-div {
   /* width:540px;
    height:440px;*/
    margin: 20px auto;
    background:#fff;
    padding: 10px 0;
}
.page3 {
    height: 475px;
}
.page4 {
    height: 455px;
}
.page5 {
    height: 580px;
}
.divider {
    padding-top:10px;
    border-bottom:1px solid #ccc;
}

.form-control {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.my-form-control {
    width: 80%;
    margin: 0 auto;
    height: 50px;    
}
.td-right-align {
    text-align: right;
    display: block;
    padding-left: 20px;
}
.btn{
    font-size:14px;
    font-weight:400;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
}
.footer-nav {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.footer-nav li:first-child {
    margin-right:5px;
}
.footer-nav li a {
    color: #fff;
    font-size:13px;
    font-weight:300;
}
.pipe-divider {
    padding-right: 6px;
    margin-top: 2px;
    color: #fff;
    font-weight: 300;
}
.field-validation-error {
    text-align: center;
    display: block;
}
.validation-summary-errors {
    text-align: center;
    padding-top: 15px;
}
.validation-summary-errors ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

.input-validation-error{
    border: 1px solid red !important;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .container-fluid {
        /*background: red;*/
        width: 100%;
    }
    .page3 {
        height: 450px;
        margin-bottom: 60px;
    }
    .page4 {
        height: 422px;
        margin-bottom: 65px;
    }
    .page5 {
        height: 518px;
    }
    .confirm-div {
        padding: 0 30px;
    }
    .button-div {
        margin-top: 10px !important;
    }
    .btn-cancel{
        margin-bottom:5px;
    }
    .thank-you-btn-div {
        margin-bottom: 65px;
    }
    .thank-you-btn{
        margin-top:10px !important;
    }

    #input-info {        
        font-size: 12px;        
    }
    .my-form-control {
        font-size: 14px !important;
    }
    .confirm-div {        
        font-size: 13px;
    }
    .success-msg-div {
        padding: 15px 30px !important;
    }
    .success-img-div {
        margin-top: 18px !important;
    }
    .search-transaction-pg {
        height: 525px;
        margin-bottom: 55px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-fluid {
        /*background: green;*/
        width: 545px;
    }
    #img-1 {
        width: 510px;
    }
    .search-transaction-pg {
        height: 555px;
        margin-bottom: 60px;
    }
    .page3 {
        height: 452px;
    }
    .page4 {
        height: 415px;
    }
    .page5 {
        height: 555px;
        margin-bottom: 60px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .container-fluid {
        /*background: blue;*/
        width: 545px;
    }
    #img-1 {
        width: 510px;
    }

    .search-transaction-pg {
        height: 555px;
        margin-bottom: 60px;
    }

    .page3 {
        height: 452px;
    }

    .page4 {
        height: 415px;
    }

    .page5 {
        height: 555px;
        margin-bottom: 60px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-fluid {
        /*background: yellow;*/
        width: 545px;
    }
    #img-1 {
        width: 510px;
    }

    .search-transaction-pg {
        height: 555px;
        margin-bottom: 60px;
    }

    .page3 {
        height: 452px;
    }

    .page4 {
        height: 415px;
    }

    .page5 {
        height: 555px;
        margin-bottom: 60px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container-fluid {
        /*background: pink;*/
        width: 545px;
    }
    #img-1 {
        width: 510px;
    }

    .search-transaction-pg {
        height: 555px;
        margin-bottom: 60px;
    }

    .page3 {
        height: 465px;        
    }

    .page4 {
        height: 430px;
    }

    .page5 {
        height: 570px;
        margin-bottom: 60px;
    }
    .content-div {
        padding-bottom:30px;        
    }
}